/*	-------------------------------------------------
	Base site styles
	------------------------------------------------- */

body {
  background-image: url("../images/bg/bg-lines.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: initial;
}

.container {
  width: 100%;
  padding: 0 15px;

  @media (min-width: 1254px) {
    width: 1224px;
    margin: 0 auto;
    padding: 0;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-more-link, a.read-more-link {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
  font-family: 'League Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  text-decoration: none;
  color: #333333;

  &::after {
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(93, 168, 239, 0.7);
  }
}

.desc-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: rgba(97, 97, 97, 0.6);
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-align: center;
  color: #333333;
}

.subtitle {
  display: block;
  font-family: 'League Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: #5da8ef;
}

.title-desc {
  margin-bottom: 35px;
  .desc-text;
}

.vertical-text {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: rgba(11, 12, 17, .2);
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: left top;
}