/* Header slider */

.slide-wrapper {
  position: relative;
}

.slider-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.slider-item__desc {
  width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider-item__heading {
  margin-bottom: 14px;
  font-family: 'Playfair Display Bold', sans-serif;
  font-size: 62px;
  line-height: 64px;
  color: #0b0c11;

  span {
    display: block;
    margin-bottom: 20px;
    font-family: 'League Spartan Bold', sans-serif;
    font-size: 9px;
    line-height: 1;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    color: rgba(93, 168, 239, 0.9);
  }
}

.slider-item__text {
  width: 390px;
  font-family: 'Poppins Light', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: #8f8f8f;
}

.slider-item__img {
  width: 1016px;
  height: 572px;
  background-size: cover;
  box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
}

.slider-item__img--bg-1 {
  background: url("../images/header-slider-bg.jpg") no-repeat center;
}

.slide-controls {
  width: 81px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-controls-number {
  margin-top: 5px;
  font-family: 'League Spartan Bold', sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #ebebeb;
}

.slide-controls-number__active {
  color: #5da8ef;
}

.slide-controls-number__total {
  color: #262626;
}