/* Header slider */

.header-slider {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header-slider__desc {
  width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-slider__heading {
  margin-bottom: 14px;
  font-family: 'Playfair Display Bold', sans-serif;
  font-size: 62px;
  line-height: 64px;
  color: #0b0c11;

  span {
    display: block;
    margin-bottom: 20px;
    font-family: 'League Spartan Bold', sans-serif;
    font-size: 9px;
    line-height: 1;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    color: rgba(93, 168, 239, 0.9);
  }
}

.header-slider__text {
  width: 390px;
  font-family: 'Poppins Light', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: #8f8f8f;
}

.header-slider__img {
  width: 1016px;
  height: 572px;
  background-size: cover;
}

.header-slider__img--bg-1 {
  background: url("../images/header-slider-bg.jpg") no-repeat center;
}