/* Navigation */

.navigation-wrapper {
  height: 128px;
  display: flex;
  align-items: center;
}

.logo {
  width: 16px;
  margin-right: 190px;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'League Spartan Bold', sans-serif;
  list-style: none;
}

.navigation__item {
  margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
}

.navigation__link {
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5.58px;
  color: rgba(11, 12, 17, .9);
  text-transform: uppercase;
  text-decoration: none;
}