/*	-------------------------------------------------
	Navigation
	------------------------------------------------- */

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1254px) {
    height: 128px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}

.logo-wrapper {
  width: 100%;
  padding: 30px 0;
  text-align: center;

  @media (min-width: 1254px) {
    width: auto;
    margin-right: 190px;
    padding: 0;
  }
}

.logo {
  width: 16px;
}

.navigation {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  list-style: none;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: 1254px) {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.navigation__item {
  margin-bottom: 15px;
  text-align: center;

  a {
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-right: 40px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__link {
  font-size: 9px;
  line-height: 1;
  letter-spacing: 5.58px;
  color: rgba(11, 12, 17, .9);
  text-transform: uppercase;
  text-decoration: none;
}

/*	-------------------------------------------------
	Header description
	------------------------------------------------- */

.header-desc {
  width: auto;
  display: block;
  position: static;

  @media (min-width: 1254px) {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 30px;
    top: 170px;
    z-index: 9;
  }

  @media (min-width: 1400px) {
    right: -50px;
    top: 58px;
  }
}

.header-desc__content {
  margin-bottom: 20px;
  position: static;
  font-family: 'League Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: rgba(11, 12, 17, .2);

  @media (min-width: 1254px) {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
  }

  @media (min-width: 1400px) {
    color: rgba(11, 12, 17, .2);
  }
}