/* Social */

.social {
  //width: 20px;
  //position: absolute;
  //right: -45px;
  //bottom: 0;
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;
  //align-items: center;

  display: flex;
  justify-content: center;

  &--vertical {
    width: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.social__item {
  //margin-bottom: 35px;
  margin: 0 15px;

  .social--vertical & {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}